
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WaitPage</title>
</head>
<body>
    <div> 
        

    </div>
</body>
</html>
